
  <%- include('./partials/header.ejs') %>
  <h1>Produtos - Editar form</h1>
  <p>Editar</p>
  <h1>Editar de Produtos</h1>
  <form action="/produtos/editar?_method=PUT" method="POST">
    <input type="text" name="nomeProduto" value="<%=produtosAB.nome%>">
      <input type="number" name="precoProduto" value="<%=produtosAB.preco%>">
      <button type="submit">Editar</button>
  </form>
  <%- include('./partials/footer.ejs') %>