
<h1>View</h1>
<form  action="/confirmation" method="GET">
        <a>Nome</a>
        <input type="text" name="name" id="">
        <a>E-mail</a>
        <input type="email" name="email" id="">
        <button type="submit">Submit</button>
</form>