<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
</head>

<body>
    <header class="cabecalho">
        <img class="cabecalho-imagem" src="images/bandeira inglaterra.png" alt="logo da comunidade">
        <nav class="cabecalho-menu">
            <a class="cabecalho-menu-item" href="/">Home</a>
        </nav>
    </header>
    <main>
        <div class="conteudo"></div>
        <div>
            <form action="/login/sucesso" method="POST">
                <div class="tela-login">
                    <div>
                        <div>
                            <input type="email" name="email" placeholder="E-mail" required />
                        </div>
                        <div>
                            <input type="password" name="senha" placeholder="senha" required>
                        </div>
                        <div>
                            <input type="checkbox" name="logado">Manter Logado?</input>
                        </div>
                        <button class="botao" type="submit">Entrar</button>
                        <div>
                            <a class="esqueciSenha">Esqueci a Senha</a>
                        </div>
                        <div class="cadastro">Ainda não tem cadastro?</div>
                        <a class="cliqueAqui" href="/cadastro">Clique aqui</a>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>

</html>