<!DOCTYPE html>
<html>

<head>
    <title>Meu APP</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <img src="/images/homer.gif" height="42" width="42" alt="Logo-homer">
        <nav>
            <ul>
                <li><a href="/">Home Page</a></li>
                <li><a href="/contato">Contatos</a></li>
                <li><a href="/estudantes">Estudantes</a></li>
            </ul>
        </nav>
    </header>
    <main>